<main>
    <p class="fs-3">Cadastro de Livros</p>

    <div class="mb-3">
        <label for="livro.titulo" class="form-label" >Título</label>
        <input type="text" class="form-control" [(ngModel)]="titulo">
    </div>
    <div class="mb-3">
        <label for="livro.resumo" class="form-label">Resumo</label>
        <textarea class="form-control" [(ngModel)]="resumo"></textarea>
    </div>
    <div class="mb-3 d-flex">
        <div class="col-6 ">
            <label for="livro.titulo" class="form-label">Editora</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="codEditora">
                <!-- <option selected>Open this select menu</option> -->
                <option  [value]="editora.codEditora" *ngFor="let editora of editoras">{{editora.nome}}</option>
            </select>
        </div>
        <div class="col-6 ">
            <label for="livro.titulo" class="form-label">Autores</label>
            <input type="text" class="form-control" [(ngModel)]="autores" placeholder="Separe os autores com ,">
        </div>

    </div>
    <!-- <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->

        <div class="alert alert-danger" role="alert" *ngIf="alerta == true">
            Preencha todos os campos corretamente.
        </div>
    <button (click)="incluir()" class="btn btn-primary">Salvar</button>

</main>