<main>
    <p class="fs-3">Cadastro de Livros</p>
    <form>
        <div class="mb-3">
            <label for="livro.titulo" class="form-label">Título</label>
            <input type="text" class="form-control" ngModel="titulo">
            <p>{{titulo}}</p>
        </div>
        <div class="mb-3">
            <label for="livro.titulo" class="form-label">Resumo</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-6 ">
                <label for="livro.titulo" class="form-label">Editora</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-6 ">
                <label for="livro.titulo" class="form-label">Autores</label>
            <input type="text" class="form-control" ngModel="titulo">
            </div>
            
        </div>
        <!-- <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" (click)="incluir()" class="btn btn-primary">Salvar</button>
      </form>
</main>