<main>
    <p class="fs-3">Lista de Livros</p>
    <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
            <th scope="col">Resumo</th>
            <th scope="col">Autores</th>
            <th scope="col">Editora</th>

          </tr>
        </thead>
        <tbody class="table-light">
          <tr *ngFor="let livro of livros">
            <th scope="row">{{livro.codigo}}</th>
            <td>
                <button type="button" class="btn btn-danger" (click)="excluir(livro.codigo)">Deletar</button>
                {{livro.titulo}}
                
            </td>
            <td>{{livro.resumo}}</td>
            <td>
                <ul>
                    <li *ngFor="let autor of livro.autores">
                        {{autor}}
                    </li>
                    
                </ul>
            </td>
            <td>{{obterNome(livro.codEditora)}}</td>
          </tr>
        </tbody>
      </table>
    
    
</main>